body {
  background-color: #1c1c1e;
  color: #ffffff;
}

.form-control {
  background-color: #333333;
  color: #ffffff;
  border-color: #ffffff;
}

.btn-primary {
  background-color: #F64668;
  border-color: #F64668;
}

.btn-primary:hover {
  background-color: #984063;
  border-color: #984063;
}

.btn-danger {
  background-color: #FE9677;
  border-color: #FE9677;
}

.btn-danger:hover {
  background-color: #984063;
  border-color: #984063;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
